<div class="container" (window:resize)="onResize($event)">
  <mat-toolbar *ngIf="!mobile">
    <div>
      <img src="assets/logo.svg" alt="logo" />
      <button class="nav-button" mat-button>Collections</button>
      <button class="nav-button" mat-button>Men</button>
      <button class="nav-button" mat-button>Women</button>
      <button class="nav-button" mat-button>About</button>
      <button class="nav-button" mat-button>Contact</button>
    </div>
    <div>
      <button mat-button (click)="onCartClick($event)" [matBadge]="totalInCart" matBadgePosition="before">
        <img class="cart-image" src="assets/icon-cart.svg" alt="cart" />
      </button>
      <img class="avatar" src="assets/image-avatar.png" alt="avatar" />
    </div>
    <div *ngIf="showCart" class="cart-content">
      <h3>Cart</h3>
      <hr>
      <p *ngIf="totalInCart === 0">Your cart is empty</p>
      <div *ngIf="totalInCart !== 0">
        <img class="product-image" src="assets/image-product-{{selectedItem}}.jpg" alt="product" />
        <span class="info">Fall Limited Edition Sneakers</span>
        <br>
        <span class="price">$125.00 x {{totalInCart}} <span>{{getTotalPrice()}}</span></span>
        <button class="remove-button" mat-button (click)="onRemoveFromCart($event)">
          <img src="assets/icon-delete.svg" alt="delete" />
        </button>
        <button class="checkout-button" mat-button>Checkout</button>
      </div>
    </div>
  </mat-toolbar>
  <mat-toolbar *ngIf="mobile" class="mat-toolbar-mobile">
    <div class="toolbar">
      <div>
        <button mat-button (click)="onClick($event)">
          <img *ngIf="!showMenu" src="assets/icon-menu.svg" alt="hamburger" />
          <img *ngIf="showMenu" src="assets/icon-close.svg" alt="close" />
        </button>
        <img class="logo" *ngIf="!showMenu" src="assets/logo.svg" alt="logo" />
      </div>
      <div class="cart-block">
        <button mat-button (click)="onCartClick($event)" [matBadge]="totalInCart" matBadgePosition="before">
          <img class="cart-image" src="assets/icon-cart.svg" alt="cart" />
        </button>
        <img class="avatar" src="assets/image-avatar.png" alt="avatar" />
      </div>
    </div>
    <div *ngIf="showMenu" class="button-block">
      <button mat-button>Collections</button>
      <button mat-button>Men</button>
      <button mat-button>Women</button>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
    </div>
    <div *ngIf="showCart" class="cart-content">
      <h3>Cart</h3>
      <hr>
      <p *ngIf="totalInCart === 0">Your cart is empty</p>
      <div *ngIf="totalInCart !== 0">
        <img class="product-image" src="assets/image-product-{{selectedItem}}.jpg" alt="product" />
        <span class="info">Fall Limited Edition Sneakers</span>
        <br>
        <span class="price">$125.00 x {{totalInCart}} <span>{{getTotalPrice()}}</span></span>
        <button class="remove-button" mat-button (click)="onRemoveFromCart($event)">
          <img src="assets/icon-delete.svg" alt="delete" />
        </button>
        <button class="checkout-button" mat-button>Checkout</button>
      </div>
    </div>
  </mat-toolbar>
  <hr *ngIf="!mobile">
  <div *ngIf="!mobile">
    <mat-grid-list cols="2" rowHeight="550px">
      <mat-grid-tile>
        <div>
          <img class="product-image" src="assets/image-product-{{selectedItem}}.jpg" alt="product" (click)="onOpenLightbox($event)" />
          <img [ngClass]="{'selected-image': selectedItem === 1}" class="product-thumbnail-image" src="assets/image-product-1-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem1($event)" />
          <img [ngClass]="{'selected-image': selectedItem === 2}"class="product-thumbnail-image" src="assets/image-product-2-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem2($event)" />
          <img [ngClass]="{'selected-image': selectedItem === 3}"class="product-thumbnail-image" src="assets/image-product-3-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem3($event)" />
          <img [ngClass]="{'selected-image': selectedItem === 4}"class="product-thumbnail-image" src="assets/image-product-4-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem4($event)" />
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="content">
          <h4>SNEAKER COMPANY</h4>
          <h1>Fall Limited Edition Sneakers</h1>
          <p>
            These low-profile sneakers are your perfect casual wear companion. Featuring a
            durable rubber outer sole, they’ll withstand everything the weather can offer.
          </p>
          <h2>$125.00<span>50%</span></h2>
          <h3>$250.00</h3>
          <div class="select">
            <button mat-button (click)="removeItem($event)"><img src="assets/icon-minus.svg" alt="minus" /></button>
            <span>{{addItems}}</span>
            <button mat-button (click)="addItem($event)"><img src="assets/icon-plus.svg" alt="plus" /></button>
          </div>
          <button class="add-button" mat-button (click)="addToCart($event)">
            <img class="cart-image" src="assets/icon-cart-white.svg" alt="cart" />Add to cart
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="mobile">
    <button class="stepper-button-previous" mat-button (click)="moveBack($event)"><img src="assets/icon-previous.svg" alt="previous" /></button>
    <button class="stepper-button-next" mat-button (click)="moveForward($event)"><img src="assets/icon-next.svg" alt="next" /></button>
    <img class="product-image-mobile" src="assets/image-product-{{selectedItem}}.jpg" alt="product" />
    <div class="content">
      <h4>SNEAKER COMPANY</h4>
      <h1>Fall Limited Edition Sneakers</h1>
      <p>
        These low-profile sneakers are your perfect casual wear companion. Featuring a
        durable rubber outer sole, they’ll withstand everything the weather can offer.
      </p>
      <div class="price-block">
        <h2>$125.00<span>50%</span></h2>
        <h3>$250.00</h3>
      </div>
      <div class="select">
        <button mat-button (click)="removeItem($event)"><img src="assets/icon-minus.svg" alt="minus" /></button>
        <span>{{addItems}}</span>
        <button mat-button (click)="addItem($event)"><img src="assets/icon-plus.svg" alt="plus" /></button>
      </div>
      <button class="add-button" mat-button (click)="addToCart($event)">
        <img class="cart-image" src="assets/icon-cart-white.svg" alt="cart" />Add to cart
      </button>
    </div>
  </div>
</div>
<div id="lightbox">
  <div *ngIf="showLightbox">
    <button class="close-button" mat-button (click)="onCloseLightbox($event)">
      <img src="assets/icon-close.svg" alt="close" />
    </button>
    <button class="stepper-button-previous" mat-button (click)="moveBack($event)"><img src="assets/icon-previous.svg" alt="previous" /></button>
    <button class="stepper-button-next" mat-button (click)="moveForward($event)"><img src="assets/icon-next.svg" alt="next" /></button>
    <img class="lightbox-image" src="assets/image-product-{{selectedItem}}.jpg" alt="product" />
    <div class="thumbnail-block">
      <img [ngClass]="{'selected-image': selectedItem === 1}" class="product-thumbnail-image" src="assets/image-product-1-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem1($event)" />
      <img [ngClass]="{'selected-image': selectedItem === 2}" class="product-thumbnail-image" src="assets/image-product-2-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem2($event)" />
      <img [ngClass]="{'selected-image': selectedItem === 3}" class="product-thumbnail-image" src="assets/image-product-3-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem3($event)" />
      <img [ngClass]="{'selected-image': selectedItem === 4}" class="product-thumbnail-image" src="assets/image-product-4-thumbnail.jpg" alt="product-thumbnail" (click)="selectItem4($event)" />
    </div>
  </div>
</div>
